
.studyPage{

  .controls {
    text-align: left;
    margin-bottom: 20px;

    .dropdownLabel {
      color: $dark-gray;
      font-weight: normal;
      &:not(:first-child) {
	margin-left: 30px;
      }
    }
  }

}